.products-wrapper {
    width: 89%;
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 0;
}

.products-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: 92%; /* trial - added */
}

.each-product-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 20%;
    gap: 5px;
    border-bottom: 1px solid #cde1e6;
    padding: 0 2% 1% 2%;
}
.each-product-wrapper:hover {
    background-color:#f0f0f0;
    border-radius: 5px;
}

.products-options-wrapper {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
}

.products-options-icon {
    cursor: pointer;
}

.products-image-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}

.products-image {
    width: 90%;
    mix-blend-mode: darken;
    border-radius: 5px;
}

.products-bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.products-pagination-wrapper {
    /* height: max-content; */
    height: 8%; /* trial - added */
    display: flex; /* trial - added */
    justify-content: center; /* trial - added */
    align-items: center; /* trial - added */
}

.css-1sazv7p-MuiStack-root {
    height: -moz-fit-content;
    height: max-content;
    align-items: center;
}

.skeletons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: 92%; /* trial - added */
    gap: 5%;
}