.footer-sub-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    color: white;
    margin: auto;
}

.footer-contents-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
    padding: 5%;
    gap: 20%;
}

.footer-contents {
    color: white;
}
.footer-contents:hover {
    color: #99e0f0;
}

.footer-link-wrapper {
    border-top: 1px solid #222;
    padding-top: 30px;
    width: 100vw;
    text-align: center;
}

.footer-link-title {
    color: white;
    transition: all 0.5s ease;
}
.footer-link-title:hover {
    color: #99e0f0;
}