.trash-inner-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 2%;
    border-radius: 5px;
    height: 15%;
    width: 25%;
}

.trash-title {
    font-size: 150%;
    font-weight: 600;
}

.trash-options-wrapper {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 50%;
    width: 80%;
    gap: 5%;
}

.trash-button {
    border: none;
    background: lightblue;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}
.trash-button:hover {
    background-color: #85c3d7;
}