.specificProduct-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specificProduct-sub-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* CSS for left side */
.specificProduct-left-wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 1%;
    gap: 5%;
}

.specificProduct-main-image {
    height: fit-content;
    width: 100%;
}

.specificProduct-image-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    gap: 1%;
}

.specificProduct-image {
    height: 60%;
    width: 20%;
    cursor: pointer;
}

/* CSS for middle side */
.specificProduct-middle-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2% 0% 0%;
    gap: 5%;
}

.specificProduct-inner-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: rtl;
    font-size: 150%;
    font-weight: bold;
}


/* CSS for right side */
.specificProduct-right-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1%;
    gap: 2%;
}

.specificProduct-quantity {
    padding: 4%;
    font-size: 120% !important;
}

.specificProduct-quantity-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.specificProduct-map-wrapper {
    width: 100%;
    height: 40%;
}

/* Handle Responsive */

@media (max-width: 860px) {
    .specificProduct-wrapper {
        flex-direction: column;
    }

    .specificProduct-sub-wrapper {
        height: 60%;
        padding-top: 4%;
    }

    .specificProduct-right-wrapper {
        flex-direction: row;
        width: 100%;
        height: fit-content;
        padding: 1% 0% !important;
        direction: rtl;
        align-items: end;
    }

    .specificProduct-middle-wrapper {
        width: 65%;
        padding: 2% 1% 0%;
    }

    .specificProduct-shipping-responsive-wrapper {
        width: 50%;
        height: 100%;
    }

    .specificProduct-map-wrapper {
        width: 50%;
        height: 100%;
    }

    .css-19midj6 {
        direction: ltr;
    }
    
}

@media (max-width: 500px) {
    .specificProduct-right-wrapper {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        padding: 10% 0% !important;
        gap: 3vh;
    }

    .specificProduct-shipping-responsive-wrapper {
        width: 95%;
        height: fit-content;
    }

    .specificProduct-map-wrapper {
        width: 90%;
        height: 40vh;
    }

    .specificProduct-inner-middle {
        font-size: 110%;
    }
}