.topnav-wrapper {
    display: flex;
    flex-direction: column;
}

.topnav-first-container-wrapper {
    display: flex;
    flex-direction: row;
}

.topnav-logo-wrapper {
    width: 20%;
    display: flex;
    justify-content: center;
}

.topnav-tabs-wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: space-around;
}

.topnav-search-wrapper {
    width: 20%;
    direction: rtl;
    margin: auto;
    padding: 0% 1% 0% 0%;
}

.topnav-second-container-wrapper {
    display: flex;
    flex-direction: row;
}

/* Handle Responsive */

@media (max-width: 860px) {
    .topnav-first-container-wrapper {
        position: relative;
    }

    .topnav-search-wrapper {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .topnav-menu-button-wrapper {
        z-index: 100000000;
        top: 0;
        right: 1%;
    }
}

@media (max-width: 500px) {
    .topnav-wrapper {
        gap: 2%;
    }

    .topnav-logo-wrapper {
        width: fit-content;
    }

    .topnav-tabs-wrapper {
        width: fit-content;
    }

    .topnav-search-wrapper {
        width: 90%;
    }
}

@media (max-width: 390px) {
    .topnav-menu-button-wrapper {
        right: 4%;
    }
}

@media (max-width: 375px) {
    .topnav-menu-button-wrapper {
        right: 6%;
    }
}

@media (max-width: 370px) {
    .topnav-menu-button-wrapper {
        right: 8%;
    }
}

@media (max-width: 360px) {
    .topnav-menu-button-wrapper {
        right: 10%;
    }
}

@media (max-width: 350px) {
    .topnav-menu-button-wrapper {
        right: 12%;
    }
}