.home-wrapper {
    width: 100%;
    height: 100%;
}

.home-underline {
    border-top: 1px solid #cde1e6;
}

.home-main-section {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Home Products Wrapper */
.home-products-wrapper {
    width: 89%;
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 0;
}

.home-products-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
}

.home-products-pagination-wrapper {
    height: max-content;
}

.home-each-product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 5px;
    border-bottom: 1px solid #cde1e6;
    padding: 1% 0% 2% 0%;
}

.home-products-image {
    width: 50%;
    mix-blend-mode: darken;
}

.css-1sazv7p-MuiStack-root {
    height: -moz-fit-content;
    /* height: fit-content; */
    height: max-content;
    align-items: center;
    /* padding: 2px 0% 0% 0%; */
}