.home-wrapper {
    width: 100%;
    height: 100%;
}

.home-underline {
    border: 1px solid #cde1e6;
}

.home-main-section {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Home Category Wrapper  */
.home-category-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 1%;
}

.home-category-selection-wrapper {
    display: flex;
    flex-direction: row;
    padding: 3% 0% 0% 10%;
    gap: 8%;
}

.home-category-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgrey;
}

.home-category-icon {
    width: 30px;
    height: 30px;
}

.home-category-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 110%;
}


/* Home Products Wrapper */
.home-products-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.home-each-product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    gap: 5px;
}

.home-products-image {
    width: 200px;
    height: 200px;
}

/* i want products to be mapped 3X3 on each page - use API at the meantime*/